@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f1f5f8;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

img {
  width: 800px;
  height: 450px;
}

#btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  padding: 6px 15px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

#prev {
  display: none;
}
